#add .header,
#add .container {
  padding: 20px;
  min-height: 25vh;
  margin-bottom: 40px;
}

#add .header {
  text-align: center;
}

#add .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#add .container .version {
  margin: 20px;
  max-width: 500px;
  min-height: 200px;
  box-shadow: 0 9px 30px 0 rgba(35,39,42,.1);
  border-radius: 8px;
  transform: translateY(0);
  transition: all .2s cubic-bezier(.175, .885, .32, 1.275);
}

#add .container .version:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 30px 0 rgba(35,39,42,.1);
}

#add .container .version a {
  display: flex;
  color: #222;
  background-color: #F5F5F5;
  border-radius: 3px;
  padding: 20px;
  height: 100%;
  width: 100%;
}

#add .container .version a .details h4 {
  font-size: 1.3em;
}
