nav {
  margin: 0 10px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;
  align-self: center;
  z-index: 5;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  cursor: pointer;
  margin: 0 10px;
}

nav ul li a {
  /* padding: 0 10px; */
}

@media (min-width: 961px) {
  nav ul.InnerNav {
    position: absolute;
    display: block;
    padding: 3px;
    border-radius: 3px;
    background-color: #f5f5f5;
  }

  nav ul.InnerNav li {
    margin: 0;
  }

  nav ul.InnerNav li a {
    padding: 3px 8px;
    display: block;
    width: 100%;
    color: black;
  }
  nav ul.InnerNav li a:hover {
    color: black;
    background-color: #e0e0e0;
    border-radius: 3px;
  }

  .min-960px {
    display: none;
  }

  a.button.primary {
    background-color: #61dafb;
    color: black;
    border-radius: 3px;
    padding: 7px 12px;
    transition: background-color .3s cubic-bezier(.175, .885, .32, 1.275);
  }
  a.button.primary:hover {
    background-color: #3fbafb;
  }

}

@media only screen and (max-width: 960px) {
  nav {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
    overflow-y: auto;
  }

  nav ul {
    text-align: center;
    display: block;
  }

  nav ul li a {
    display: block;
    padding: 20px 10px;
  }

  .min-960px {
    display: inherit;
  }
}
