#donate .header,
#donate .container {
  padding: 20px;
  min-height: 25vh;
  margin-bottom: 40px;
  text-align: center;
}

#donate .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#donate .container .method {
  margin: 20px;
  max-width: 350px;
  box-shadow: 0 9px 30px 0 rgba(35,39,42,.1);
  border-radius: 8px;
  transform: translateY(0);
  transition: all .2s cubic-bezier(.175, .885, .32, 1.275);
}

#donate .container .method:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 30px 0 rgba(35,39,42,.1);
}

#donate .container .method a {
  display: block;
  color: #222;
  background-color: #F5F5F5;
  border-radius: 8px;
  padding: 20px;
  height: 100%;
  width: 100%;
}
